<?xml version="1.0"?>
<config>
	<modules>
		<stnc_ajaxnewsletter>
			<version>0.1.0</version>
		</stnc_ajaxnewsletter>
	</modules>
	<global>
		<helpers>
			<stnc_ajaxnewsletter>
				<class>Stnc_Ajaxnewsletter_Helper</class>
			</stnc_ajaxnewsletter>
		</helpers>
		<blocks>
			<stnc_ajaxnewsletter>
				<class>Stnc_Ajaxnewsletter_Block</class>
			</stnc_ajaxnewsletter>
		</blocks>
	</global>
	<frontend>
		<routers>
			<stnc_ajaxnewsletter>
				<use>standard</use>
				<args>
					<module>Stnc_Ajaxnewsletter</module>
					<frontName>newsletterAjax</frontName>
				</args>
			</stnc_ajaxnewsletter>
		</routers>

		<layout>
			<updates>
				<stnc_ajaxnewsletter>
					<file>stnc_ajaxnewsletter.xml</file>
				</stnc_ajaxnewsletter>
			</updates>
		</layout>

	</frontend>


</config>